.page
  .page-container
    .container-fluid#main
      =render 'index'
          /! table
          /! 分页
      .pagination.pagination-centered
        =paginate @companies,theme:"bootstrap"
      /! row
    /! container
/! page
