td = reservation.confirmation 
td = reservation.base_rate_code 
td = reservation.customer.customer_name  
td = reservation.reservation_person_phone
td = reservation.pickup_date
/td = reservation.down_address||reservation.up_address
td = reservation.car_type ||reservation.car_model
td = reservation.status_text 
td = l(reservation.created_at,format: :long)
td class="opr_#{reservation.id}"
  =render :partial => 'list_opr',:locals=>{:reservation=>reservation}
