.page
  .page-container
    .container#main
      /= render_cell :com_select ,:show,:show => Location.all 
      = render 'index'
          /! table
          /! 分页
          .pagination.pagination-centered
            =paginate @drivers,theme:"bootstrap"
      /! row
    /! container
/! page

