p#vtip {position: absolute; padding: 10px; left: 5px; font-size: 0.8em; background-color: white; border: 1px solid #a6c9e2; -moz-border-radius: 5px; -webkit-border-radius: 5px; z-index: 9999;}
p#vtip #vtipArrow { position: absolute; top: -10px; left: 5px }
.inputValidationFailed{ 
  border: 2px solid #E9322D; 
  box-shadow: 0 0 6px #F8B9B7;
  color: #B94A48;
}
input[type="button"]{
  border: 0 none;
  background-color:#006CCC;
  line-height: 30px;
  height: 30px;
  background-image:linear-gradient(to bottom, #0088CC, #0044CC);
  background-repeat:repeat-x;
  color:white;
  text-shadow:0 -1px 0 rgba(0, 0, 0, 0.25);
}
#s2id_start_time_hour{margin:0px 5px 0px 5px;}
#yysjj{
  margin:0 auto 0 105px;
  width: 230px;
}
#s2id_end_time_min{margin:0px 5px 0px 5px;}