<footer>
  <div class="container">
    <div class="row">
      <div class="span12">
        <p class="pull-right">Global Car Rental Service Platform</p>
        <p>环球租车服务平台</p>
      </div>
    </div>
  </div>
</footer>
