<link type="text/css" rel="stylesheet" media="all" href="/assets/sidebar.css?body=1">
<div class="import_information">
  <div class="import_information_title">
    <h1>重要提醒</h1>
  </div>
  <ul class="infor_one">
  </ul>
  <div class="import_information_bottom"></div>
</div>

<div class="modal hide fade modal-edit" id="modal-edit-search">
  <div class="modal-header">
    <div class="layer_demo_head_left"></div>
    <div class="layer_demo_head_center">
      <h1>查询</h1>
      <a aria-hidden="" class="close_win" data-dismiss="modal" onclick="location.reload();">
        <span class="warclose"></span>
      </a>
    </div>
    <div class="layer_demo_head_right"></div>
    <div class="clr"></div>
  </div>
  <div class="modal-body" style="padding-top: 20px">
    <p>加载中...</p>
  </div>
  <div class="modal-footer">
    <div class="layer_demo_bottom_left"></div>
    <div class="layer_demo_bottom_center"></div>
    <div class="layer_demo_bottom_right"></div>
    <div class="clr"></div>
  </div>
</div>
